* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
            AppleGothic, sans-serif;
    font-size: 12px;
}

h1 {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 3em;
    text-align: center;
}

header {
    height: 20vh;
}

header i {
    display: inline-block;

    position: relative;
    top: 35px;
    left: 40px;

    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 2em;
}

main {
    height: 80vh;
}

.watch-clock-digital-digit {
    display: inline-block;
    text-align: center;
}

.watch-hidden {
    display: none;
}

#watch-clock {
    margin: 0 auto;
}

#watch-clock-digital-hour {
    text-align: center;
}

#watch-clock-digital-hour::after {
    content: " : "
}

#watch-clock-digital-minute::after {
    content: " : "
}

#watch-clock-digital > p {
    margin: 0;
    text-align: center;
    font-size: 2em;
}

#watch-information {
    position: absolute;
    left: -50vw;

    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    padding-left: 10px;
    /* height: 100vh; */
    width: 50vw;

    transition: ease-out 1s left;
}

#watch-information.sidebar-open {
    left: 0vw;

    transition: ease-in 1s left;
}

#watch-toggle {
    position: absolute;
    bottom: 0px;

    /* border-top: 1px solid black; */
    width: 100%;

    background-color: #F5F5F5;
    font-size: 1.5em;
}

#watch-toggle > section {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 24%;
}

#watch-toggle > section:hover {
    outline: 1px solid black;
    background-color: #EAEAEA;
}

#watch-toggle > section:active {
    outline: 1px solid black;
    background-color: #DADADA;
    
}

#watch-toggle i {
    margin: auto auto 10px;
    display: block;
    text-align: center;
}

#watch-toggle .watch-toggle-text {
    margin: auto;
    display: block;

    text-align: center;
}

@media screen and (max-width: 450px) {

}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 1000px) {

}