* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
            AppleGothic, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

header {
    height: 20vh;
}

main {
    height: 80vh;
}

#watch-toggle {
    position: absolute;
    bottom: 0px;

    /* border-top: 1px solid black; */
    width: 100%;

    background-color: #F5F5F5;
    font-size: 1.5em;
}

#watch-toggle > section {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 24%;
}

#watch-toggle > section:hover {
    background-color: #EAEAEA;
}

#watch-toggle i {
    margin: auto auto 10px;
    display: block;
    text-align: center;
}

#watch-toggle .watch-toggle-text {
    margin: auto;
    display: block;

    text-align: center;
}

@media screen and (max-width: 450px) {

}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 1000px) {

}